<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emmaluo.mybatislearning.IDAO.UserPicMapper">
<insert id="insertUserPic" parameterType="UserPic" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_pics(NAME,PIC,BIO)
    VALUES (#{name},#{pic},#{bio})
</insert>
    <select id="getUserPic" parameterType="int" resultType="UserPic">
        SELECT * FROM user_pics WHERE ID=#{id}
    </select>
</mapper>